.Brother {
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  margin: 0px 20px 40px 20px;
}

.Brother:hover {
  opacity: 50%;
}

.BrotherImage,
.BrotherImageGlow {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.EventImage,
.EventImageGlow {
  margin: auto;
  cursor: pointer;
}

.BrotherImage,
.EventImage {
  border-radius: 50%;
  /* filter: grayscale(100%); */
  animation: glowOff 0.7s ease-in-out forwards;
}

.BrotherImageGlow,
.EventImageGlow {
  box-shadow: 0px 2px 20px #95bcf3;
  border-radius: 50%;
  animation: glow 0.7s forwards;
}

@keyframes glowOff {
  from {
    box-shadow: 0px 2px 20px #95bcf3;
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  to {
    box-shadow: none;
    transform: scale(1);
  }
}

@keyframes nameGlowOff {
  from {
    font-weight: 700;
    text-shadow: 2px 4px 20px white;
    font-size: 24px;
  }
  to {
    text-shadow: none;
  }
}

@keyframes glow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 2px 20px #95bcf3;
    filter: grayscale(0%);
    transform: scale(1.1);
  }
}

@keyframes nameGlow {
  from {
    text-shadow: none;
  }
  to {
    font-weight: 700;
    text-shadow: 2px 4px 20px white;
    font-size: 24px;
  }
}

.BrotherNamesContainer {
  direction: rtl;
  scrollbar-width: auto;
  scrollbar-color: white #ffffff00;
}

/* Chrome, Edge, and Safari */
.BrotherImagesContainer::-webkit-scrollbar {
  width: 6px;
}

.BrotherImagesContainer::-webkit-scrollbar-track {
  background: #8a5c5c27;
}

.BrotherImagesContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid #465e80; */
}

.BrotherNamesContainer::-webkit-scrollbar {
  width: 6px;
}

.BrotherNamesContainer::-webkit-scrollbar-track {
  background: #8a5c5c27;
}

.BrotherNamesContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid #465e80; */
}
.BrotherNamesContainer {
  color: white;
  width: 100px;
  min-width: 250px;
  height: 70vh;
  overflow-y: scroll;
}

.BrotherImagesContainer {
  padding-left: 5%;
  align-items: center;
  height: 70vh;
  max-height: 70vh;
  min-height: 70vh;
  display: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  overflow-y: scroll;
  padding-right: 5%;
}

.BrotherProfileBio {
  width: 300px;
  height: 300px;
  padding: 0 100px;
}

.BrotherName {
  direction: ltr;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: 20px;
  padding-bottom: 20px;
  animation: nameGlowOff 0.7s ease-in-out forwards;
  user-select: none;
  cursor: pointer;
  font-family: "Alata", sans-serif;
}

.BrotherNameGlow {
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: 24px;
  padding: 10px;
  animation: nameGlow 0.7s forwards;
  user-select: none;
  cursor: pointer;
  font-family: "Alata", sans-serif;
}

.BrotherSection {
  font-weight: 500;
}
.BrotherBio {
  justify-content: center;
  background-color: white;
  color: #1395b2;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}
.BrotherNameModal {
  font-family: "Bebas Neue", sans-serif;
  color: #465e80;
  font-size: 48px;
  user-select: none;
}

.BrotherDelta {
  color: #465e80;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 40px;
  font-weight: 300;
  user-select: none;
}
.BrotherBlurb,
.EventBlurb {
  font-family: sans-serif;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  width: 300px;
  margin-left: 40px;
  user-select: none;
}
.EventModal {
  justify-content: space-evenly;
}
.BrotherModal,
.EventModal {
  display: flex;
  flex-direction: row;
}

.EventImageModal {
  justify-content: center;
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.BrotherImageModal {
  width: 40%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.BrotherAll {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.BrotherTitle {
  text-align: left;
  margin-left: 50px;
  color: white;
  font-weight: 400;
  font-size: 150px;
  line-height: 204px;
  user-select: none;
  margin-bottom: -20px;
}

.videoContainer {
  color: white;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(-45deg, #000000, #1d325a, #416597);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.RushTitle {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 150px;
  line-height: 204px;
  min-height: 200px;
  height: 200px;
  animation: move 1.2s ease-in infinite;
}

.RushDay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.RushDayTitle {
  font-size: 24px;
  text-align: center;
}

.BrotherContainer,
.OfficerContainer,
.EventContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.OfficerContainer {
  min-height: 280px;
}

.EventNameGlow,
.EventName {
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 0;
  user-select: none;
  max-width: 150px;
  font-family: Alata, sans-serif;
}

.EventNameGlow {
  animation: nameGlow 0.7s forwards;
  user-select: none;
}
.EventName {
  animation: nameGlowOff 0.7s ease-in-out forwards;
  user-select: none;
}
.PositionName {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: center;
  max-width: 150px;
}

.EventImagesContainer {
  padding: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-left: 100px; */
}
.EventImage,
.EventImageGlow {
  width: 125px;
  height: 125px;
  max-width: 125px;
  max-height: 125px;
}

.EventTime {
  color: #465e80;
  font-size: 20px;
  font-weight: 300;
}

.backgroundImage {
  opacity: 20%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .RushTitle,
  .BrotherTitle {
    font-size: 50px;
    text-align: center;
    margin-left: 0;
  }
  .BrotherTitle {
    margin-bottom: -50px;
  }
  .EventName,
  .EventNameGlow {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  .BrotherNamesContainer {
    display: none;
  }
  .BrotherNameModal {
    font-size: 20px;
  }
  .BrotherImagesContainer {
    padding: 0;
  }
  .EventImageModal,
  .BrotherImageModal {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .EventModal,
  .BrotherModal {
    flex-direction: column;
    justify-content: center;
  }
  .EventBlurb,
  .BrotherBlurb {
    font-size: 16px;
    margin: auto;
    text-align: center;
  }
  .BrotherDelta {
    writing-mode: horizontal-tb;
  }
  .Back {
    position: relative !important;
    display: block;
    top: 0 !important;
    left: 0 !important;
    padding-top: 30px;
    margin-bottom: -70px;
    font-size: 16px !important;
    text-align: center !important;
    user-select: none !important;
  }
}

.Back {
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 55px;
  text-align: left;
  color: #a5a5a5;
  font-size: 20px;
  animation: unhoverLink 0.7s ease-in-out forwards;
}

.Back:hover {
  animation: hoverLink 0.7s ease-in-out forwards;
}

@keyframes unhoverLink {
  0% {
    color: white;
    text-shadow: 0px 2px 20px #95bcf3;
  }
  100% {
    color: #a5a5a5;
  }
}

@keyframes hoverLink {
  0% {
    color: #a5a5a5;
  }
  100% {
    color: white;
    text-shadow: 0px 2px 20px #95bcf3;
  }
}

.RushPhone {
  color: #a5a5a5;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.1rem;
}

.RushPhoneNumber {
  font-size: 150%;
}
